.listUl {
  list-style-type: none;
  display: block;
}
.listDiv:hover {
  cursor: pointer;
}
.listDiv {
  height: 100px;
  border-bottom: 1px #c6c6c6 solid;
  display: flex;
}

.img-box img {
  /*padding: 8px 4px 8px 0;*/
  margin-top: 8px;
  width: 130px;
  height: 80px;
}

.project-title {
  margin-left: 30px;
  padding-top: 40px;
}
